doctype html
html(lang="ru-RU")
  head
    meta( charset='utf-8' )
    meta( name='viewport' content='width=device-width, initial-scale=1' ) 
    title Di Gi! digital agency
    link(rel="stylesheet" href="static/css/main.css")
  body
    header.header
      .container
        .header__inner
          .logo
            a.logo__link(href='#')
              img(src='../static/img/logo.jpg' alt='logo')
          nav.menu
            button.menu__btn
    section.head
      .top-slider
        .top-slider__item
          h3.top-slider__title МЫСЛИ ГЛОБАЛЬНО
          p.top-slider__text. 
            Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении
          button.top-slider__btn ПОДРОБНЕЕ
        .top-slider__item
          h3.top-slider__title МЫСЛИ ГЛОБАЛЬНО
          p.top-slider__text. 
            Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении
          button.top-slider__btn ПОДРОБНЕЕ
        .top-slider__item
          h3.top-slider__title МЫСЛИ ГЛОБАЛЬНО
          p.top-slider__text. 
            Di Gі - это диджитал агентство полного цикла, направленное на самый лучший результат наших клиентов в маркетинге, продажах и управлении
          button.top-slider__btn ПОДРОБНЕЕ  
    section.promo
      .container
        .promo__inner
          .promo__box
            h5.promo__title Вы полюбите нас с первой встречи!
            p.promo__text
              |Мы предоставляем комплексный подход к продвижению компании, 
              |продуктов и услуг в цифровой сфере.
          button.promo__btn   ПЕРЕЗВОНИТЕ МНЕ     
    section.services
      .container
        .services__inner
          .services__descr
            h5.services__title Сервис
            p.services__promo 
              |От идеи до незабываемого и
              |измеримого результата.
            p.services__text 
              |Интеграция безупречного производства, передовых технологий и 
              |тщательного измерения производительности
          .services__items
            .services__item
              .services__img 
                img(src='../static/img/serviсes-1.png' alt='service-1')
              .services__item-title СТРАТЕГИЯ
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-2.png' alt='service-2')
              .services__item-title АНАЛИЗ
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-3.png' alt='service-3')
              .services__item-title СОЦ СЕТИ
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-4.png' alt='service-4')
              .services__item-title РАЗВИТИЕ
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-5.png' alt='service-5')
              .services__item-title КОНТЕНТ 
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-6.png' alt='service-6')
              .services__item-title ДИЗАЙН UX
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-7.png' alt='service-7')
              .services__item-title ТАРГЕТИРОВАННАЯ РЕКЛАМА
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about
                a(href="#").services__link ПОДРОБНЕЕ →
            .services__item
              .services__img 
                img(src='../static/img/serviсes-8.png' alt='service-8')
              .services__item-title ПРОДУКТ
              .services__item-text Создадим уникальный и удобный дизайн..
              .services__about 
                a(href="#").services__link ПОДРОБНЕЕ →
    section.recent
      .container
        .recent__inner
          h4.recent__title Наши Проекты
          .recent__work 
            img(src="../static/img/portfolio-1.jpg", alt="portfolio-1").recent__img
            .recent__info
              a(href='#')
                img(width="15%" src="../static/img/info.png", alt="info").recent__link 
              a(href='#')
                img(width="15%" src="../static/img/search.png", alt="search").recent__link
            h5.recent__name Lalique бутик
          .recent__work 
            img(src="../static/img/portfolio-2.jpg", alt="portfolio-2").recent__img
            .recent__info
              a(href='#')
                img(width="15%" src="../static/img/info.png", alt="info").recent__link 
              a(href='#')
                img(width="15%" src="../static/img/search.png", alt="search").recent__link
            h5.recent__name Строительство домов
          .recent__work 
            img(src="../static/img/portfolio-3.jpg", alt="portfolio-3").recent__img
            .recent__info
              a(href='#')
                img(width="15%" src="../static/img/info.png", alt="info").recent__link 
              a(href='#')
                img(width="15%" src="../static/img/search.png", alt="search").recent__link
            h5.recent__name Кофейня
          .recent__work 
            img(src="../static/img/portfolio-4.jpg", alt="portfolio-4").recent__img
            .recent__info
              a(href='#')
                img(width="15%" src="../static/img/info.png", alt="info").recent__link 
              a(href='#')
                img(width="15%" src="../static/img/search.png", alt="search").recent__link
            h5.recent__name Уникальные туры
    section.video-block
      .container
        .video-block__inner
          .video-block__img
            img(src="../static/img/video.jpg", alt="video-block-image")
          .video-block__info
            h5.video-block__title Команда
            p.video-block__text
              |Наша команда - это наша самая большая ценность. 
              |Мы трудились, чтобы собрать группу  экспертов,
              |чьи навыки дополняют друг друга. 
              |У членов нашей команды разные истории, но мы разделяем общую страсть к идеалу. Мы верим, чтобы оставаться
              |профессионалом, нужно развиваться, 
              |поэтому мы постоянно ищем способы, как стать лучше 
              |в том, что мы делаем.

            button.video-block__btn СМОТРЕТЬ ВИДЕО



            

    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")